.style2 {
	color: #666666;
}
.style3 {
	color: #333333;
}
.style4 {
	color: #000000;
}
.style5 {
	color: #0b0080;
	text-decoration: none;
}

.style7 {
	text-decoration: none;
}

.style8{
	width: 23px;
	border: none;
	float: right;

}

.search{
	width: 300px; /* Ширина поля с кнопкой */
	border: 1px solid black; /* Параметры рамки */
	height: 20px; /* Минимальная высота */
	
}

input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
}

input[type="submet"] {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: url('img/search.png'); /* Параметры фона */
   }
   
.alignment_l{
	float: left;
}


.alignment_r{
	float: right;
	}

.bord{
	padding: 5px;
	height: 20px;
	border-color: #666666;
}

.box{
	width: 80%; 
	float: right;
}

.football_career{
	border: 1px solid lightgrey;
	float: right;
	margin-top:100px;
	width: 300px; 
	padding: 10px;
}

.pad_l{
	padding-left:20px;
}